.header-container{
    padding-bottom:0px;
}
.container{
    max-width: 1180px;
    margin: 0 auto;
    padding: 0 15px;
}
.hero-banner{
    position:relative;
    margin:0;
    padding:0;
    min-height:544px;
    width: 100%;
    background-size: cover;
    font-family: 'Futura-Book';
    img.logo{
        position:absolute;
        top:20px;
        left:20px;
        margin:0;
        padding:0;
    }
    
    .text{
        position:absolute;
        display:block;
        margin:0 auto;
        width:100%;
        text-align:center;
        top:33%;
        h1.header{
            font-size:56px;
            text-transform:uppercase;
            color:#fff;
            font-weight:700;
            font-family: 'Futura-Heavy';
        } 
        p.subheader{
            font-size:36px;
            text-transform:uppercase;
            color:#fff;
            font-weight:200;
        }
    } 
    .mask{
        position: absolute;
        width: 100%;
        height: 100%;
        background: #000;
    }
}
 section.question{
    position:relative;
    counter-reset: sekcja;
    padding:50px 0;
    font-family: 'Futura-Book';
    .header{
        font-family: 'Futura-Book';
        color: #bbb;
        padding: 25px 0 20px 0;
        margin: 0;
        text-align: center;
        font-size: 18px;
        text-transform: uppercase;

    }

    .panel-group{
        .panel{
            .panel-heading{
                .panel-title{
                    text-align:center;
                    position: relative;
                    margin: 0 0 25px 0;
                    a.collapsed{
                        color:#fff;
                        text-decoration:none;
                        font-size:36px;
                        font-weight: 300;
                        position:relative;
                        font-family: 'Futura-Heavy';
                    }
                    a{
                        color:#fff;
                        text-decoration:none;
                        font-size:36px;
                        font-weight: 300;
                        position:relative;
                        font-family: 'Futura-Heavy';
                    }
                }
                .panel-title:after{
                    font-family: "FontAwesome";
                    content: "\f107";
                    font-size: 36px;
                    font-weight: bold;
                    position: absolute;
                    color: hubl("$cta_color");
                    transition:.3s;
                    margin-left:10px;
                    transform: rotate(270deg);
                    }
                .panel-title.addarrow:after{
                    font-family: "FontAwesome";
                    content: "\f107";
                    font-size: 36px;
                    font-weight: bold;
                    position: absolute;
                    color: hubl("$cta_color");
                    transition:.3s;
                    margin-left:10px;
                    transform: rotate(360deg);
                }
            }
        }
    }
 }




.faq-box .panel-collapse {
  -webkit-transition: all ease-in-out 0.3s;
  -o-transition: all ease-in-out 0.3s;
  -moz-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
  overflow: hidden;
    font-family: 'Futura-Book';
    .panel-body{
        padding:40px 0;
        display:flex;
        justify-content: center;
        .left{
            max-width: 544px;
            background:#bbb;
            box-sizing:border-box;
            color:#fff;
            display:flex;
            flex-flow:column;
            align-items:center;
            float:left;
            padding:30px;
            min-height:532px;
            position:relative;
            margin-right:30px;
            h4{
                text-align:left;
                font-size:36px;
                margin:0 0 35px 0;
                width: 100%;
            }
            p{
                font-size:16px;
                margin:0 0 40px 0;
                font-weight: 200;
                max-width:480px;
            }
            img{
                width:100%;
                height: auto;
            }
        }
        .right{
            width: 362px;
            padding:25px 40px;
            background:#1ac8c2;
            box-sizing:border-box;
            color:#fff;
            min-height:532px;
            float:right;
            .hbspt-form{
            .submitted-message{
                color: #000;
                font-size: 20px;
            }
            }
            h3{
                text-align:left;
                font-size:24px;
                margin:0 0 20px 0;
                width: 100%;
            }
            span.hs_cos_wrapper_type_form{
                color:#000;
                font-size:20px;
            }
            form{
                margin:0!important;
                .hs-form-field{
                .hs-form-required{
                    display:none;
                }
                ul.hs-error-msgs.inputs-list {
                    padding:0!important;
                    margin: 0!important;
                    list-style-type:none;
                li {
                    margin:0;
                label{
                    font-size: 15px;
                    color: #fd5959!important; 
                    padding-top: 10px;
                    }
                    a{
                        text-decoration:none;
                        color:#959595;
                    }
                }
                }
                .input{
                    display:block;
                    margin:0px auto;
                    input {
                        width:270px;
                        height:50px;
                        font-size:15px;
                        padding:0 0 0 15px;
                        margin:0;
                        border: none;
                    }
                    input:focus {
                        outline:none;
                    }
                }
            }
            .actions{
                margin: 0px auto;
                padding:10px 0 0 0;
            }
            .actions .hs-button{
                text-transform:uppercase;
                width:205px;
                height:56px;
                background:#000;
                color:#fff;
                display:block;
                font-size:16px;
                margin:0 auto;
                border:2px solid #000;
                transition:0.3s;
                cursor: pointer;
                box-shadow:none;
                padding: 0;
                font-weight: 200;
                -webkit-appearance: none;
                }
            .actions .hs-button:focus{
                outline:none;
            }
            .actions .hs-button:hover{
                text-transform:uppercase;
                background:transparent;
                color:#000!important;
                transition:0.3s;
                display:block;
                font-size:16px;
                margin:0 auto!important;
                border:2px solid #000;
                margin: 15px auto 0;
                cursor: pointer;
                box-shadow:none;
                text-shadow: none;
                font-weight: 200;


                }

            }
            .logo{
                display: flex;
                align-items: center;
                padding:15px 0 0 0;
                flex-flow: wrap;
                justify-content: space-around;
                width: 100%;
                img{
                    max-width:80px;
                    margin:5px 0;
                }  
                img[data]:hover {
                    display:none;   
                }       
            }
        }
    }
}
@media screen and (max-width: 768px) {

    .panel-body{
        padding:40px 0;
        display: block!important;
        .left{
            max-width: 100%!important;
            float:none!important;
            min-height:400px!important;
            margin-right:0px!important;

        }
        .right{
            width: 100%!important;
            float:none!important;
            min-height:400px!important;
            h3{
                text-align:center!important;
            }
            ul{
                justify-content: space-around!important;
                margin:0 auto!important;
            }
        }  
    }
    @media screen and (max-width: 350px) {
        .input{
            display:block;
            margin: 0 auto;
            input {
                width:200px!important;
            }
        }
        .actions .hs-button{
            width:180px!important;
        }
    }
    .text{
      
        h1.header{
            font-size:36px!important;
            padding:0 15px;
        } 
        p.subheader{
            font-size:26px!important;
            padding:0 15px;
        }
    } 
    .hero-banner{
        height:400px!important;
    }
}
* {
     ::-webkit-input-placeholder {
        // font-family: $primaryFont;
        color: #959595;
        font-size:16px;
    }
     ::-moz-placeholder {
        // font-family: $primaryFont;
        color: #959595;
        font-size:16px;
    }
     :-ms-input-placeholder {
        // font-family: $primaryFont;
        color: #959595;
        font-size:16px;
    }
     :-moz-placeholder {
        // font-family: $primaryFont;
        color: #959595;
        font-size:16px;
    }
    }
button.close{
    -webkit-appearance: none;
    padding: 0;
    cursor: pointer;
    background: transparent;
    border: 0;
    position:absolute;
    right:0;
    top:0;
    width:35px;
    height:35px;
    display:block;
}
button.close:focus{
    outline: none;
}
.close{
    float: right;
    font-size: 21px;    
    line-height: 1;
    color: #fff;
}
.close span{
    font-size: 36px;
    color: #fff;
    margin-right:4px;
    font-weight: 200;
    transition:0.3s;
}
.close:hover span{
    color: #000;
    transition:0.3s;
    opacity:0.5;
}
.background{
    background-color:#1ac8c2;
    font-family: 'Futura-Book';
    .text{
        text-align:center;
        padding: 60px 0;
        font-size:28px;
        font-weight: 200;
        p{
            margin:0;
            padding:0;
        }
    }
}
.footer__links li:nth-of-type(3)::after{
    display:none;
}